@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div id="content">
        <div id="slider">
            <div id="slider-content">
                <div class="slider-item">
                    <a asp-controller="" asp-action="" class="slider-link"><img class="slider-img" src="~/files/slider_images/1.jpg" alt="Resim bulunamadı" /></a>
                </div>
                <div class="slider-item">
                    <a asp-controller="" asp-action="" class="slider-link"><img class="slider-img" src="~/files/slider_images/2.jpg" alt="Resim bulunamadı" /></a>
                </div>
                <div class="slider-item">
                    <a asp-controller="" asp-action="" class="slider-link"><img class="slider-img" src="~/files/slider_images/3.jpg" alt="Resim bulunamadı" /></a>
                </div>
                <div class="slider-item">
                    <a asp-controller="" asp-action="" class="slider-link"><img class="slider-img" src="~/files/slider_images/4.jpg" alt="Resim bulunamadı" /></a>
                </div>
                <div class="slider-item">
                    <a asp-controller="" asp-action="" class="slider-link"><img class="slider-img" src="~/files/slider_images/5.jpg" alt="Resim bulunamadı" /></a>
                </div>
                <div class="slider-item">
                    <a asp-controller="" asp-action="" class="slider-link"><img class="slider-img" src="~/files/slider_images/6.jpg" alt="Resim bulunamadı" /></a>
                </div>
                <div class="slider-item">
                    <a asp-controller="" asp-action="" class="slider-link"><img class="slider-img" src="~/files/slider_images/7.jpg" alt="Resim bulunamadı" /></a>
                </div>
                <div class="slider-item">
                    <a asp-controller="" asp-action="" class="slider-link"><img class="slider-img" src="~/files/slider_images/8.jpg" alt="Resim bulunamadı" /></a>
                </div>
            </div>
        </div>
        <div id="firstinfo">
            <div class="info">
                <i class="fa-solid fa-money-bill-wave fa-4x"></i>
                <div class="info-read">
                    <span>Tek dokunuşla</span>
                    <h1>Online Ödeme</h1>
                </div>
            </div>
            <div class="info">
                <i class="fa-solid fa-pipe fa-4x"></i>
            </div>
            <div class="info">
                <i class="fa-solid fa-truck fa-4x"></i>
                <div class="info-read">
                    <span>270TL ve üzeri</span>
                    <h1>Ücretsiz Kargo</h1>
                </div>
            </div>
            <div class="info">
                <i class="fa-solid fa-pipe fa-4x"></i>
            </div>
            <div class="info">
                <i class="fa-brands fa-whatsapp fa-4x"></i>
                <div class="info-read">
                    <span>Nasıl yardımcı olabiliriz?</span>
                    <h1>Whatsapp Haattı</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="mainpage">
        <div id="slogan">
            <div class="sloganimage">
                <img class="slogan_img" src="~/files/slogan_images/1.png" alt="" />
            </div>
            <div class="sloganimage" id="mainslogan"><label>"EN DOĞALI HERKEZİN HAKKI"</label></div>
            <div class="sloganimage">
                <img class="slogan_img" src="~/files/slogan_images/2.png" alt="" />
            </div>
        </div>
    </div>
    <div id="mainimage_2">

    </div>
    <div id="mainimage_3">

    </div>
</div>
